/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18 May, 2022, 6:39:37 PM
    Author     : Stuti
*/

            .card{
                height:100%;
            }
            .card-title{
                text-align: center;
            }
            .card-text{
                margin:  20px ;
            }
            .card-text p{
                text-align: right;
            }
            input[type=text],input[type=password]{
               width: 100%;
               height:40px;
               margin:10px 0;
               padding:12px 20px;
               display: inline-block;
             
            }
 